.card {    
    display: flex;
    flex-direction: column;
    border:1px solid var(--dark-border-inverse);
    border-radius: 40px;

    cursor: pointer;
}
.card__img {
    border-radius: 40px;
    overflow: hidden;

    img {
        transition: transform 0.5s ease;
        transform: scale(1.08);

        &:hover {
            transform: scale(1);
        }
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    flex-grow: 1;
}
.card__info {
    line-height: 150%;    
}

.card__price {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 125%;
    margin-top: auto;
}

