.slider {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 35px;
    position: relative; 
}

.slider__viewport {
    overflow: hidden;
}
.slider__content{
    display: flex;
    width: max-content;
}

.item {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--primary);
    margin: 0 auto;
    flex: 0 0 100%;
}

.item__img {
    margin-bottom: 10px;
}

.item-descr {
    line-height: 150%;
    text-align: center;
}

.item__price {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 125%;
}

.slider__button {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid var(--background-modalcontrol);
    cursor: pointer;
    margin: auto;
    transition: var(--transition);

    svg {
        stroke: var(--primary);
    }

    &:hover {
        background-color: var(--background-modalcontrol);

        svg {
            stroke: var(--dark-text-inverse);
        }
    }

    @media (max-width: 380px) {
        display: none;
    }
}

.slider__button_right {
    transform: rotate(180deg);
}
.slider__controls {
    display: flex;
    gap: 12px;
    justify-content: center;
    grid-column: span 3;
}

.slider__control {
    svg {
        fill: var(--dark-border-inverse);
    }
}

.slider__control.active svg {
    fill: var(--background-modalcontrol);
}