:root {
    --font-family: "Inter", sans-serif;
    --font-size-base: 10px;

    --primary: #403F3D;
    --dark-text-inverse: #E1D4C9;
    --dark-text-accent: #B0907A;
    --background-modalcontrol: #665F55;
    --dark-border-inverse: #C1B6AD;

    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    
    --dark-bg-page: #292826;
    --dark-bg-container: #403F3D;
    --dark-bg-overlay: #292826CC;
    --dark-border-primary: #665F55;
    --dark-border-inverse: #C1B6AD;
    --background-modal: #E1D4C9;
    --background-modalcontrol: #665F55;
    --dark-bg-modal: var(--dark-bg-container);
    --dark-bg-modal-control: var(--dark-bg-page);
}
