@import '../node_modules/modern-normalize/modern-normalize.css';
@import "css/variables.css";
@import "css/font.css";
@import "css/header.css";
@import "css/footer.css";
@import "css/slider.css";
@import "css/card.css";
@import "css/modal.css";

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html[data-theme="dark"] {
  --dark-text-inverse: #292826;
  --dark-border-inverse: #E1D4C9;
  --primary: #E1D4C9;
  color: #E1D4C9;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 1.6rem;
  background-color: var(--dark-text-inverse);
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.text-accent {
  font-style: italic;
  color: var(--dark-text-accent);
}

h1 {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 105%;
  margin: 0;

  span {
    color: var(--dark-text-accent);
    font-style: italic;
  }

  @media (max-width: 380px) {
    font-size: 4.2rem;
    line-height: 115%;
  }
}

h2 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 125%;
  margin: 0;

  @media (max-width: 380px) {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.medium {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.caption {
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
}


.link-button {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
}

.burger-link {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 125%;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;

  @media (max-width: 580px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero {
  position: relative;
  z-index: 2;
  padding: 100px 98px 100px 100px;
  margin-bottom: 100px;
  overflow: hidden;
  border-radius: 40px;

  @media (max-width: 770px) {
    padding-left: 60px;
  }

  @media (max-width: 380px) {
    padding: 60px 16px 60px 16px;
  }
}

.hero__content {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__header {
  color: #E1D4C9;

  span {
    color: var(--dark-text-accent);
    font-style: italic;
  }
}

.hero__text {
  color: #E1D4C9;
}

.hero__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  background-color: var(--dark-text-inverse);
  padding: 20px 90px 20px 65px;
  border-radius: 100px;
  border: none;
  transition: var(--transition);

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 65px;

    @media (min-width: 770px) {
      display: none;
    }
  }

  @media (min-width: 770px) {
    &:hover img {
      display: block;
    }
  }
}

.section-slider,
.section-about {
  margin-bottom: 100px;
}

.section-slider__header {
  text-align: center;
  margin-bottom: 30px;
}

.section-about__header {
  margin-bottom: 40px;
}

.gallery {
  display: flex;
  gap: 40px;

  @media (max-width: 800px) {
    flex-wrap: wrap;
  }
}

.gallery__col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.gallery__img {
  border-radius: 20px;
  object-fit: cover;
}

.hidden-sm {
  @media (max-width: 930px) {
    display: none;
  }
}

.section-app {
  display: flex;
  align-items: center;
  column-gap: 100px;
  margin-bottom: 95px;

  @media (max-width: 1300px) {
    column-gap: 100px;
  }

  @media (max-width: 930px) {
    flex-wrap: wrap;
  }
}

.section-app__content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 930px) {
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  @media (max-width: 380px) {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

}

.section-app__text {
  line-height: 150%;
}

.section-app__links {
  display: flex;
  gap: 20px;
  align-self: flex-start;

  @media (max-width: 380px) {
    flex-wrap: wrap;
  }
}

.section-app__img {
  @media (min-width: 1200px) {
    flex-shrink: 0;
  }

  @media (max-width: 930px) {
    margin-left: 25px;
  }

  @media (max-width: 380px) {
    margin-left: 0;
  }

}

.button-market {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 200px;
  max-width: max-content;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: transparent;
  transition: var(--transition);
  border-radius: 100px;
  border: 1px solid var(--background-modalcontrol);
  cursor: pointer;

  &:hover {
    background-color: var(--background-modalcontrol);
    color: var(--dark-text-inverse);

    svg {
      fill: var(--dark-text-inverse);
    }

  }
}

.button-market__icon svg {
  fill: var(--primary);
}


/*menu*/

.menu {
  padding-bottom: 100px;
}

.menu__header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  font-size: 6rem;
  margin-bottom: 40px;
  line-height: 125%;
}

.menu__controls {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 40px;
}

.menu__button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid var(--dark-border-inverse);
  border-radius: 100px;
  padding: 8px;
  font-weight: inherit;
  cursor: pointer;

  &:hover {
    background-color: var(--background-modalcontrol);
    color: var(--dark-text-inverse);

    .menu__button-icon {
      background-color: var(--dark-text-inverse);
    }
  }
}

.menu__button.active {
  background-color: var(--background-modalcontrol);
  color: var(--dark-text-inverse);
  cursor: default;

  .menu__button-icon {
    background-color: var(--dark-text-inverse);
  }
}

.menu__button-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--dark-border-inverse);
  transition: var(--transition);
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 40px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);

  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.menu__show-more {
  display: none;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--primary);
  background-color: transparent;
  border-radius: 100%;
  margin: 0 auto;
  cursor: pointer;

  &.show {
    display: flex;
  }
}

.scroll-top {
  transform: translateY(100px) rotate(90deg);
  position: fixed;
  bottom: 0;
  z-index: 10;
  right: 0;

  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  margin: auto;
  transition: var(--transition);

  border: 1px solid var(--background-modalcontrol);
  background-color: var(--dark-text-inverse);;
  border-radius: 100%;
  opacity: 1;

  &.active {
    opacity: 0.7;
    transform: translateY(0) rotate(90deg);

    &:hover {
      opacity: 1;
    }
  }

  svg {
    stroke: var(--dark-border-primary);
  }

  @media (max-width: 930px) {
    width: 40px;
    height: 40px;
  }
}